%div.ruhappy 
  %h3.header Are u Happy? 
  - @stories.each do |story| 
    %ul.stories
      %li
        %h4.name=       story.name
        %p.description= story.description 
        %ul.actions 
          %li Thumbs Up
          %li Thumbs Down 
  - 
